/* here you can put your own css to customize and override the theme */
.nopadding{ padding: 0 !important; }
.nopadding-left{ padding-left: 0 !important; }
.nopadding-right{ padding-right: 0 !important; }